{
  "tabWidth": 2,
  "printWidth": 200 ,
  "endOfLine": "auto",
  "arrowParens": "avoid",
  "trailingComma": "none",
  "semi": true,
  "useTabs": true,
  "singleQuote": true,
  "bracketSpacing": true
}
